@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.logo__img {
  width: 100px;
}

.header {
  height: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item + .menu__list-item {
    margin-left: 93px;
  }

  &__list-link {
    font-size: 16px;
    line-height: 15px;
    color: $default;
  }
}

.contact {
  display: flex;
  align-items: center;

  &__info {
    margin-right: 30px;
    text-align: right;
    font-weight: 400;
  }

  &__phone {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: $default;
    position: relative;

    &::before {
      position: absolute;
      width: 24px;
      height: 24px;
      content: "";
      left: -29px;
      top: 0;
      background-image: url("../images/icons/phone.svg");
    }
  }

  &__address {
    color: $accent;
    font-size: 16px;
    line-height: 15px;
    padding-top: 5px;
  }

  &__link {
    padding: 15px;
    color: $default;
    font-size: 18px;
    line-height: 17px;
    border: 2px solid $bg;
    border-radius: 5px;
  }
}

.footer {
  padding-bottom: 50px;
  background-color: #153f3e;
  color: #fff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__internal-link {
    color: #fff;
    font-size: 16px;
    line-height: 15px;
  }

  &__external-link {
    color: #fff;
    font-size: 16px;
    line-height: 15px;
  }

  &__internal-link + .footer-top__internal-link {
    margin-left: 63px;
  }

  &__external-link + .footer-top__external-link {
    margin-left: 93px;
  }
}

.footer-text {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 55px;
  color: #a2a6b8;

  &__attention {
    margin-bottom: 15px;
  }
}

.footer-bottom {
  font-size: 16px;
  line-height: 15px;
  display: flex;

  &__info {
    margin-right: 140px;
    display: block;
  }

  &__link {
    color: #fff;
    margin: 20px 0;
    display: inline-block;
  }

  &__insurance-text {
    margin-bottom: 40px;
  }

  &__insurance-img {
    display: flex;

    img {
      margin-right: 20px;
    }
  }
}

.hero {
  display: flex;
  padding-top: 150px;
  background-color: #f0f4f9;
  height: 667px;
  display: flex;
  position: relative;

  &__info {
    position: absolute;
    z-index: 5;
    max-width: 660px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 15px;
    color: $accent;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 36px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 20px;

    span {
      display: block;
      margin-left: 115px;
      position: relative;

      &::before {
        width: 90px;
        height: 2px;
        background-color: $accent;
        content: "";
        position: absolute;
        left: -115px;
        top: 27px;
      }
    }
  }

  &__text {
    line-height: 36px;
    margin-bottom: 30px;
    max-width: 560px;
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 17px;
    padding: 21px 61px 21px 33px;
    background-color: $accent;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 60px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/icons/arrow-right.svg");
      width: 19px;
      height: 10px;
      right: 23px;
      top: 26px;
    }

    span {
      padding: 9px 17px 8px 16px;
      background-color: #fff;
      position: absolute;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      top: -17px;
      right: -8px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 1000px;
    background-repeat: no-repeat;
    height: 667px;
    background: linear-gradient(
        90deg,
        #f0f4f9 9%,
        rgba(240, 244, 249, 0) 60.04%
      ),
      url("../images/hero-bg.jpg");
  }

  &__stats {
    display: flex;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    padding: 48px 63px 43px 125px;

    span {
      display: block;
      font-size: 36px;
      line-height: 34px;
      margin-bottom: 10px;
    }
  }

  &__element {
    font-size: 16px;
    line-height: 15px;
  }

  &__element + .hero__element {
    margin-left: 120px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 39px;
      left: -60px;
      top: 10px;
      background-color: #d1e4dd;
    }
  }
}

.features {
  padding: 90px 0;
  position: relative;
  background-image: url("../images/features-bg.svg");
  background-repeat: no-repeat;
  background-position: 10% 112%;

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__left {
    margin-right: 200px;
  }

  &__content {
    max-width: 860px;
  }

  &__text {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  &__items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    z-index: 5;
  }

  &__item {
    width: 420px;
    height: 294px;
    border: 1px solid #d1e4dd;
    padding: 30px;
    background-color: #fff;
  }

  &__item-image {
    margin-bottom: 20px;
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.doctors {
  padding: 90px 0;
  background: $bg;

  &__top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  &__left {
    margin-right: 200px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item-box {
    display: none;
  }

  &__item {
    max-width: 305px;
    width: 100%;
    height: 565px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: flex-end;
    transition: all 0.5s;

    &:hover {
      .doctors__item-name {
        display: none;
      }

      .doctors__item-box {
        display: block;
      }
    }
  }

  &__therapist:hover {
    background-image: linear-gradient(
        0deg,
        rgba(117, 214, 180, 0.85),
        rgba(117, 214, 180, 0.85)
      ),
      url("../images/doctors/1.jpg") !important;
  }

  &__cardiologist:hover {
    background-image: linear-gradient(
        0deg,
        rgba(117, 214, 180, 0.85),
        rgba(117, 214, 180, 0.85)
      ),
      url("../images/doctors/2.jpg") !important;
  }

  &__surgeon:hover {
    background-image: linear-gradient(
        0deg,
        rgba(117, 214, 180, 0.85),
        rgba(117, 214, 180, 0.85)
      ),
      url("../images/doctors/3.jpg") !important;
  }

  &__otorhinolaryngologist:hover {
    background-image: linear-gradient(
        0deg,
        rgba(117, 214, 180, 0.85),
        rgba(117, 214, 180, 0.85)
      ),
      url("../images/doctors/4.jpg") !important;
  }

  &__item-name {
    padding: 25px;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    background-color: $accent;
    border-radius: 4px;
  }

  &__item-experience {
    position: absolute;
    top: -15px;
    left: 50px;
    font-size: 14px;
    line-height: 13px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $accent;
    color: #fff;
    padding: 9px 21px 8px 20px;
  }

  &__item-box {
    margin: 25px;
  }

  &__item-name--hover {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  &__item-position {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 15px;
  }

  &__item-link {
    display: inline-block;
    color: #fff;
    padding: 18px 30px 18px 18px;
    border: 2px solid #fff;
    border-radius: 4px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/arrow-right.svg");
      width: 19px;
      height: 10px;
      right: 6px;
      top: 26px;
    }
  }
}

.certificates {
  padding-bottom: 90px;
  background-color: $bg;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__items {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: -31%;
      right: 80px;
      font-size: 0;
      border: none;
    }

    .slick-arrow.slick-prev {
      background: url("../images/icons/angle-left.svg") 0 0 no-repeat;
      width: 60px;
      height: 60px;

      &:hover {
        background: url("../images/icons/angle-left-hover.svg") 0 0 no-repeat;
      }
    }

    .slick-arrow.slick-next {
      background: url("../images/icons/angle-right.svg") 0 0 no-repeat;
      width: 60px;
      height: 60px;
      right: 10px;

      &:hover {
        background: url("../images/icons/angle-right-hover.svg") 0 0 no-repeat;
      }
    }
  }

  &__item {
    max-width: 200px;
    height: 280px;
    border-radius: 4px;
    margin-bottom: 50px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    line-height: 0;
    padding: 0 10px;
  }

  button {
    padding: 0;
    font-size: 0;
    position: relative;
    background-color: $accent;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid $accent;
  }

  .slick-active {
    button {
      width: 10px;
      height: 10px;
    }
  }
}

.promo {
  padding: 90px 115px;
  background-color: $accent;
  background-image: url("../images/promo-bg.jpg");
  background-position: right;
  background-size: 52% 100%;
  background-repeat: no-repeat;

  &__info {
    max-width: 665px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 19px;
    color: $btn;
    margin-bottom: 60px;
  }

  &__title {
    display: block;
    max-width: 600px;
    color: #fff;
    font-size: 42px;
    line-height: 57px;
    margin-bottom: 50px;
  }

  &__form {
    max-width: 387px;
    width: 100%;
  }

  &__input-name,
  &__input-phone {
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    line-height: 17px;
    background-color: transparent;
    color: #fff;
    max-width: 472px;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 20px;

    &::placeholder {
      color: #fff;
      font-size: 18px;
      line-height: 17px;
    }
  }

  &__input-name {
    margin-bottom: 50px;
  }

  &__input-phone {
    margin-bottom: 32px;
  }

  &__checkbox-text {
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;
    }

    margin-bottom: 50px;
  }

  &__input-checkbox {
    border: none;
    margin: 0;
  }

  &__btn-info {
    display: flex;
    max-width: 550px;
    width: 100%;
    justify-content: space-between;
  }

  &__btn {
    border: none;
    position: relative;
    color: $btn;
    font-size: 18px;
    line-height: 17px;
    padding: 22px 68px 22px 34px;
    border-radius: 4px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/icons/arrow-right-btn.svg");
      width: 19px;
      height: 10px;
      right: 35px;
      top: 26px;
    }

    span {
      cursor: default;
      padding: 8px 16px;
      color: #fff;
      background-color: $btn;
      font-size: 14px;
      line-height: 13px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      position: absolute;
      display: block;
      right: 0;
      top: -16px;
    }
  }

  &__price-old {
    color: #8cd1c3;
    font-size: 22px;
    line-height: 21px;
    text-decoration: line-through;
    margin-bottom: 13px;
  }

  &__price-new {
    color: #fff;
    font-size: 26px;
    line-height: 25px;
  }
}

.quote {
  padding: 100px 0 55px;
  background-color: $bg;

  &__inner {
    display: flex;
    align-items: start;
  }

  &__img {
    margin-right: 30px;
  }

  &__text {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 36px;
  }
}

.visit {
  padding: 100px 0 60px;

  &__title {
    display: flex;
  }

  &__item {
    display: flex;
    margin-bottom: 40px;
  }

  &__img {
    max-width: 310px;
    width: 100%;
    height: 670px;
    margin-right: 20px;
  }

  &__box {
    border: 1px solid #d1e4dd;
    border-radius: 4px;
    max-width: 970px;
    width: 100%;
    height: 670px;
    padding: 40px;
  }

  &__box-text {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 36px;
  }

  &__list-item {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 40px;
    font-weight: 600;
    padding-left: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 45px;
      height: 1px;
      background-color: $accent;
      left: -7px;
      top: 9px;
      border-radius: 4px;
    }
  }
}

.consultation {
  padding-bottom: 100px;
  background-image: url("../images/consultation-bg.svg");
  background-repeat: no-repeat;
  background-position: 5% 112%;

  &__inner {
    display: flex;
  }

  &__title-left {
    margin-right: 150px;
  }

  &__title-main {
    max-width: 560px;
    width: 100%;
    margin-bottom: 50px;
  }

  &__item {
    padding: 30px 90px 30px 20px;
    border-top: 1px solid #d1e4dd;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    background-color: #fff;

    &:last-child {
      border-bottom: 1px solid #d1e4dd;
    }

    span {
      font-size: 30px;
      line-height: 29px;
      font-weight: bold;
      margin-right: 23px;
    }
  }
}

.diagnosis {
  padding: 90px 0;

  &__title {
    display: flex;
    margin-bottom: 60px;
  }

  &__main-subtitle {
    margin-top: 30px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item-text {
    font-size: 20px;
    line-height: 27px;

    span {
      font-size: 30px;
      line-height: 29px;
      font-weight: bold;
      margin-right: 23px;
      display: block;
      padding-bottom: 35px;
      border-bottom: 1px solid #d1e4dd;
      margin-bottom: 20px;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    line-height: 17px;
    color: #fff;
    padding: 22px 68px 22px 34px;
    border-radius: 4px;
    cursor: pointer;
    background-color: $accent;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/icons/arrow-right.svg");
      width: 19px;
      height: 10px;
      right: 35px;
      top: 26px;
    }
  }
}

.tools {
  padding: 45px 0 90px;

  &__title {
    display: flex;
    margin-bottom: 100px;
  }

  &__title-left {
    margin-right: 165px;
  }

  &__main-title {
    max-width: 500px;
  }

  &__item {
    margin: 55px 0;
    padding: 70px;
    border: 1px solid #d1e4dd;
    border-radius: 4px;
    position: relative;
    height: 270px;

    &::after {
      position: absolute;
      content: "";
      top: -20%;
      right: 5%;
      width: 310px;
      height: 380px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px;
    }
  }

  &__first {
    &::after {
      background-image: url("../images/tools/1.jpg");
    }
  }

  &__second {
    &::after {
      background-image: url("../images/tools/2.jpg");
    }
  }

  &__third {
    &::after {
      background-image: url("../images/tools/3.jpg");
    }
  }

  &__forth {
    &::after {
      background-image: url("../images/tools/4.jpg");
    }
  }

  &__fifth {
    &::after {
      background-image: url("../images/tools/5.jpg");
    }
  }

  &__item-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 30px;
    max-width: 750px;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    max-width: 750px;
  }

  .slick-arrow {
    position: absolute;
    bottom: -5%;
    left: 70px;
    font-size: 0;
    border: none;
  }

  .slick-arrow.slick-prev {
    background: url("../images/icons/angle-left.svg") 0 0 no-repeat;
    width: 60px;
    height: 60px;
    left: 0;

    &:hover {
      background: url("../images/icons/angle-left-hover.svg") 0 0 no-repeat;
    }
  }

  .slick-arrow.slick-next {
    background: url("../images/icons/angle-right.svg") 0 0 no-repeat;
    width: 60px;
    height: 60px;

    &:hover {
      background: url("../images/icons/angle-right-hover.svg") 0 0 no-repeat;
    }
  }
}

.promo {
  &__ent {
    background-image: url("../images/promo-bg-ent.jpg");
    background-position: left;
    background-size: 40% 100%;
    background-repeat: no-repeat;

    .promo__info {
      margin-left: auto;
    }
  }
}

.price {
  padding: 90px 0;

  &__title {
    display: flex;
  }

  &__title-left {
    margin-right: 365px;
  }

  &__inner {
    margin-top: 50px;
    display: flex;
  }

  &__menu-service {
    display: flex;
    align-items: center;
    width: 420px;
    height: 90px;
    padding: 23px 33px 23px 20px;
    border: 1px solid #d1e4dd;
    margin-right: 130px;

    svg {
      min-width: 30px;
      min-height: 30px;
      margin-right: 10px;
    }
  }

  &__menu-service--active {
    background-image: url("../images/services-active.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 5px solid $btn;

    svg {
      path {
        fill: #fff;
      }
    }

    .price__btn-text {
      color: #fff;
    }
  }

  &__btn-text {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
  }

  &__list {
    display: none;
  }

  &__list--active {
    display: block;
  }

  &__list-element {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #d1e4dd;

    &:last-child {
      border-bottom: none;
    }
  }

  .list-element__name {
    max-width: 500px;
    display: flex;
    align-items: baseline;

    span {
      margin-right: 33px;
      font-size: 20px;
      line-height: 19px;
      font-weight: bold;
    }
  }
}

.reviews {
  background-color: $bg;
  padding: 90px 0;
  &__title {
    display: flex;
    margin-bottom: 60px;
  }

  &__title-left {
    margin-right: 235px;
  }
  &__item {
    max-width: 620px;
    width: 100%;
    height: 420px;
    padding: 40px 50px 40px 40px;
    border: 1px solid #d1e4dd;
    position: relative;
    margin-bottom: 60px;
    &::after {
      background-image: url("../images/icons/quote.svg");
      position: absolute;
      width: 80px;
      height: 80px;
      content: "";
      top: 20px;
      right: 50px;
    }
  }
  &__user-box {
    height: 255px;
  }

  &__item-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 20px;

    span {
      color: $default;
    }
  }

  .jq-ry-container {
    padding: 0;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
  }
  &__text-link {
    color: $accent;
    font-size: 18px;
    line-height: 17px;
    max-width: 130px;
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
  }
  &__doctor {
    display: flex;
    align-items: center;
  }
  &__doctor-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 25px;
  }
  &__doctor-position {
    font-size: 18px;
    line-height: 17px;
    color: #5a796c;
    margin-bottom: 10px;
  }
  &__doctor-name {
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;
    color: #5a796c;
  }
  .slick-arrow {
    position: absolute;
    top: -21%;
    right: 80px;
    font-size: 0;
    border: none;
  }

  .slick-arrow.slick-prev {
    background: url("../images/icons/angle-left.svg") 0 0 no-repeat;
    width: 60px;
    height: 60px;

    &:hover {
      background: url("../images/icons/angle-left-hover.svg") 0 0 no-repeat;
    }
  }

  .slick-arrow.slick-next {
    background: url("../images/icons/angle-right.svg") 0 0 no-repeat;
    width: 60px;
    height: 60px;
    right: 10px;

    &:hover {
      background: url("../images/icons/angle-right-hover.svg") 0 0 no-repeat;
    }
  }
}

.reviews-video {
  padding: 150px 0 0px;

  &__item {
    max-width: 620px;
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__link {
    margin: 60px auto 0;
    display: block;
    position: relative;
    color: #fff;
    padding: 22px 68px 22px 34px;
    border-radius: 4px;
    cursor: pointer;
    background-color: $accent;
    width: 300px;
    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/icons/arrow-right.svg");
      width: 19px;
      height: 10px;
      right: 35px;
      top: 30px;
    }
  }
}

.gallery {
  padding: 90px 0;
  &__inner {
    display: flex;
  }
  &__info {
    width: 770px;
    max-width: 100%;
  }
  &__img {
    margin-right: 50px;
    max-width: 500px;
    height: 700px;
  }
  &__subtitle {
    margin: 50px 0 40px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 200px;
  }
  &__thumbnails {
    min-width: 0;
  }
  &__thumbnail {
    max-width: 180px;
    width: 100%;
    height: 175px;
    min-height: 175px;
    cursor: pointer;
    border-radius: 4px;
  }
  .slick-arrow {
    position: absolute;
    top: -50%;
    left: 0;
    font-size: 0;
    border: none;
  }

  .slick-arrow.slick-prev {
    background: url("../images/icons/angle-left.svg") 0 0 no-repeat;
    width: 60px;
    height: 60px;

    &:hover {
      background: url("../images/icons/angle-left-hover.svg") 0 0 no-repeat;
    }
  }

  .slick-arrow.slick-next {
    background: url("../images/icons/angle-right.svg") 0 0 no-repeat;
    width: 60px;
    height: 60px;
    left: 70px;

    &:hover {
      background: url("../images/icons/angle-right-hover.svg") 0 0 no-repeat;
    }
  }
}

.consultation__promo.promo {
  background-image: url("../images/promo-bg-ent.jpg");
  background-position: right;
  background-size: 40% 100%;
  background-repeat: no-repeat;
}

.contacts {
  padding-top: 90px;
  &__title {
    display: flex;
  }
  &__title-left {
    margin-right: 200px;
  }
  &__main-text {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 70px;
  }
  &__inner {
    background-image: url('../images/contacts-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  &__location{
    position: absolute;
    right: 37%;
    top: 30%;
  }
  &__box {
    margin: 35px 0;
    display: inline-block;
    max-width: 550px;
    width: 100%;
    background-color: #fff;
    padding: 50px 65px 0px 50px;
    border-radius: 4px;
  }
  &__element {
    color: #d1e4dd;
    font-size: 20px;
    line-height: 19px;
    span,
    a {
      font-size: 20px;
      line-height: 30px;
      margin: 20px 0 40px 35px;
      color: #333;
      display: block;
      position: relative;
      &::before {
        position: absolute;
        width: 24px;
        height: 24px;
        left: -35px;
        top: 3px;
        content: "";
      }
    }
  }
  &__element--phone::before {
    background-image: url("../images/icons/phone.svg");
  }
  &__element--address::before {
    background-image: url("../images/icons/address.svg");
  }
  &__element--hours::before {
    background-image: url("../images/icons/hours.svg");
  }
  &__element--email::before {
    background-image: url("../images/icons/email.svg");
  }

  &__social {
    display: flex;
  }
  &__social-link {
    margin: 15px 30px 50px 0;
  }
}

@import "media";
